# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd

# Raw BESS Data (Proprietary)
*.csv
*.xlsx

# Local environment / IDE
.vscode/
.idea/
.venv/
env/
venv/
ENV/

# Zenodo scripts & archives
upload_to_zenodo.py
update_zenodo_files.py
*.zip
